

/* Color Theme Swatches in RGBA */
:root {
    --Illustration-1-rgba: rgba(110, 72, 191, 1);
    --Illustration-2-rgba: rgba(111, 114, 2, 1); 
    --Illustration-3-rgba: rgba(242, 202, 4, 1); 
    --Illustration-4-rgba: rgba(242, 135, 4, 1); 
    --Illustration-5-rgba: rgba(242, 80, 21, 1); 
}

/* html, body {
    background-color: rgb(218, 209, 239);
} */


body{
    font-family: "Butterfly Kids", cursive;
    font-optical-sizing: auto; /*?*/
    font-weight: 400;
    font-style: normal;
} 

/* h1{
    background-color: blue;
} */

html, body {
    margin:0;
    padding:0;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw; /* This should cover the full viewport width */
    
}

.brand {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color:purple;
    padding: 10px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;

}

.page-link {
    grid-column: 3 / span 2;
    grid-row: 1;
    text-align: center;
    background-color: purple;
    padding: 10px;
}

.menu-button {
    font-size: 20px;
    color: white;
    background: purple;
    padding: 2px 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}


.flex-header-menu, .flex-side-menu, .flex-footer-menu {
    flex-shrink: 0;
    background-color:var(--Illustration-1-rgba);
    color:white;
    padding: 0px 4px 0px 4px;
 }
 

 .flex-main-content {
    background-image: url('img/main.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    margin: 0;
    width: 100vw; /* Adjusted to fill the full width of the viewport */
}




/* Create grid system - 12 columns */
.grid-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /*create 12 propertional column */
    grid-auto-rows: minmax(10vh,auto);/* auto genreates rows of minimum height to be 10% but will expand to content */
    gap: 16px; /* gap between columns - best in absolute value */
    margin: 2vh 2vw; /* add space on all sides but poroprtional to the screen size */
}

.col-1 {grid-column: span 1;}
.col-2 {grid-column: span 2;}
.col-3 {grid-column: span 3;}
.col-4 {grid-column: span 4;}
.col-5 {grid-column: span 5;}
.col-6 {grid-column: span 6;}
.col-7 {grid-column: span 7;}
.col-8 {grid-column: span 8;}
.col-9 {grid-column: span 9;}
.col-10 {grid-column: span 10;}
.col-11 {grid-column: span 11;}
.col-12 {grid-column: span 12;}


.container {
    flex-direction: column;
}


.card {
    border: 1px solid var(--dark2);
    border-radius: 10px;
    box-shadow: 5px 10px 50px var(--midgrey);
}

/* card header is text */
.card-header {
    color: white;
    font-weight: 600;
    font-size: larger;
}

.card-banner-image {
    display: block;
    margin:auto;
    width: 80%;
    height: 30vh;
    object-fit:cover;
    border-radius: 10px;
}

/* card-body-text is text */
.card-body-text {
    color: white
}


/* mobile */
@media screen and (max-width: 769px) {
    .flex-header-menu {
        display: none;
    }

    .flex-side-menu {
        display: none;
    }

    .flex-footer-menu {
        display: block;
    }

    .flex-main-content {
        width:75vw;
    }
}

/* desktop */
@media screen and (min-width: 1195px) {
    .flex-header-menu {
        display: block;
    }

    .flex-side-menu {
        display: none;
    }

    .flex-footer-menu {
        display: none;
    }

    

}

/* tablet and phone on landscape */
@media screen and (min-width: 601px) and (max-width: 1194px) {
    .flex-header-menu {
        display: none;
    }

    .flex-side-menu {
        display: block;
    }

    .flex-footer-menu {
        display: none;
    }

    
}