

/* Color Theme Swatches in RGBA */
:root {
    --Illustration-1-rgba: rgba(110, 72, 191, 1);
    --Illustration-2-rgba: rgba(111, 114, 2, 1); 
    --Illustration-3-rgba: rgba(242, 202, 4, 1); 
    --Illustration-4-rgba: rgba(242, 135, 4, 1); 
    --Illustration-5-rgba: rgba(242, 80, 21, 1); 
}


/* it is not used in current page */
body{
    font-family: "Butterfly Kids", cursive;
    font-optical-sizing: auto; /*?*/
    font-weight: 100;
    font-style: normal;
    background-color: rgb(230, 206, 230);
    padding: 40px;
    margin: 40px;
    box-sizing: border-box;
    margin-bottom: 50px;

    
} 


html, body {
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 30px;
    
    
}

.header {
    font-size: 25px;
}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}





.brand {
    background-color: purple;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    

}

.flex-body-column {
    display: flex;
    flex-wrap: wrap ;
    /*min-height: 100vh;  /* Minimum height to cover the full viewport height */
          /* Width to cover the full viewport width */
    /* border-right: 2px solid purple; */
    /* border-left: 2px solid purple; */
}







