.firstrow-text {
    padding: 20px 20px;    /* Adds padding inside the div */
    margin-right: 20px;    /* Adds a 10-pixel gap on the right side */
    /* text-align: left; */
    text-align: justify;
}


.flex-container-row {
    display: flex;
    flex-direction: row;
    /*min-height: 100vh;  /* Minimum height to cover the full viewport height */
    width: 100vw;       /* Width to cover the full viewport width */
}

/* first row of body */
/* --------------------------------------------- */
.flex-first-row {
    display: flex;
    flex-direction: row; /* Ensures the items are laid out in a row */
    padding: 40px; /* Adds space around the items */
   
}

.flex-first-row > div:first-child { /* Targeting the first child */
    flex: 1; 
    text-align: right; 
    /* margin-left: 40px; */

}

.flex-first-row > div:nth-child(2) { /* Targeting the second child */
    flex:8;
    text-align: left; 
    /* margin-right: 50px; */
    padding: 10px 40px;    /* Adds padding inside the div */

   
}

.flex-first-row > div:last-child { /* Targeting the third child */
    flex:1;
    text-align: right; 
    /* padding: 10px; */

}

.first-row-text{

    width: 100%;      /* Sets the width of the div to take 100% of its parent container's width */
    max-width: auto; /* Ensures the div does not exceed 800px in width */
    min-height: auto; /* Ensures the div has at least 400px in height, expanding as needed based on content */
    margin: 0 auto;   /* Centers the div within its parent container */ /* Adds space inside the div around the content */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    font-size: 15px;
    font-display: bold;
    /* margin-left: 60px;
    margin-right: 60px; */
}

.first-row-image {
    width: 100%;      /* Sets the width of the div to take 100% of its parent container's width */
    max-width: 800px; /* Ensures the div does not exceed 800px in width */
    min-height: 400px; /* Ensures the div has at least 400px in height, expanding as needed based on content */
    margin: 0 auto;   /* Centers the div within its parent container */    /* Adds space inside the div around the content */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */

}

.first-row-text > p {
    padding: 0px 40px ;  
    /* margin-right: 20px;    Adds a 10-pixel gap on the right side */
    /* text-align: left; */
    text-align: justify;
}
/* --------------------------------------------- */

