

@media screen and (max-width: 430px) {

    .flex-header-bar {
        display:none;
    }
    .flex-sider-bar {
        display:none;
    }

    .flex-footer-bar{
        display:block;
    }
    
    .left-sider-bar {
        display:none;
    
    }

    .header {
        width: 40vw;
    }

    .div {
        width: 40vw;
    }

    .body {
        width: 40vw;
    }
   

    .flex-footer-menu {
        display: grid;/* applied, making it a grid container */
        grid-template-columns: repeat(4, 1fr);/* creates 4 columns */
        justify-items: center;/* aligns items along the inline (row) axis */
        align-items: center; /* aligns items along the block (column) axis */
        padding: 2vh 5vw; /* applies to all sides of the element's content area: */
        text-align: center; /*centre aligns the icon and the text */
        
    }

    .flex-footer-menu img {
        width: 15vw;/* set the width of each icon to 15% of the screen */
        height: auto;
        min-width: 24px;
        max-width: 50px;
       
    }

    
}


@media screen and (min-width: 768px) {
    /* We tell both sidebars to share a row */

    .flex-header-bar {
        display:block;
    }
    .flex-sider-bar {
        display:none;
    }

    .flex-footer-bar{
        display:none;
    }

    .bottom-bar {
        display:block;
    }

    .left-sider-bar {
        display:none;
    
    }

    .body {
        width: 70vw;
    }

    .img {
        width: 70vw;
    }

    .flex-footer-menu {
        display: grid;/* applied, making it a grid container */
        grid-template-columns: repeat(4, 1fr);/* creates 4 columns */
        justify-items: center;/* aligns items along the inline (row) axis */
        align-items: center; /* aligns items along the block (column) axis */
        padding: 2vh 5vw; /* applies to all sides of the element's content area: */
        text-align: center /*centre aligns the icon and the text */
    }

    .flex-footer-menu img {
        width: 15vw;/* set the width of each icon to 15% of the screen */
        height: auto;
        min-width: 24px;
        max-width: 50px
    }

}

@media only screen and (min-width: 1195px) {
    .flex-header-bar {
        display:none;
    }
    .flex-sider-bar {
        display:block;
    }

    .left-sider-bar {
        display:block;
    
    }

    .bottom-bar {
        display:none;
    }

    .flex-footer-menu {
        display: none;
    }



}
